<nav class="navbar  navbar-expand-lg fixed-top bg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">

            <i class="fa-sharp fa-solid fa-code"></i>Hanabi Take-Home Assignment
        </a>


    </div>

</nav>