<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="register-body">
                <div class="text-center mx-auto">

                    <h4><i class="fa-sharp fa-solid fa-pen-to-square"></i> <strong>Enter User Name </strong></h4>

                </div>

                <div class="col-md-4 mx-auto mt-4 ">
                    <form action="" method="post">
                        <div class="mb-3">
                            <input type="hidden" name="id">
                            <input type="text" class="form-control  border rounded-pill" name="username" required
                                placeholder="User Name">
                        </div>

                        <div class="flex mt-4 text-center">
                            <button type="submit" class="btn btn-outline-success text-white mr-4">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>