<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="success-body  text-center">
                <h4>Successfully submited user data ..! </h4>

                <p>clich here redirect on the Home <a href="/" class="btn btn-outline-success">Home</a></p>
            </div>
        </div>
    </div>
</div>